Hello World
<br><br>
someVar: {{ someVar }}
<br><br>
Dev Mode: {% if devMode %}true{% else %}false{% endif %}

<br><br>
<br><br>

{% switch someVar %}
    {% case 'someVal' %}
        test someVal
    {% case 'otherVal' %}
        test otherVal
    {% default %}
        test default
{% endswitch %}

<br><br>
<br><br>

{% filter widont %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cumque dolorem enim error facere fuga hic magni nulla quaerat, quas, quidem ratione repellat voluptatem. Alias aperiam beatae consectetur qui sequi!</p>
{% endfilter %}
